<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ServiceDbEntities" connectionString="metadata=res://*/DataContext.ServiceDbContext.csdl|res://*/DataContext.ServiceDbContext.ssdl|res://*/DataContext.ServiceDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ServiceDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.6"/>
        <httpRuntime targetFramework="4.6"/>
        <httpModules>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
        </httpModules>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ApplicationInsightsWebTracking"/>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
        </modules>
        <!-- To browse web app root directory during debugging, set the value below to true. -->
        <!-- Set to false before deployment to avoid disclosing web app folder information. -->
        <directoryBrowse enabled="true"/>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>

    <!--WCF-->
    <system.serviceModel>

        <services>
            <service name="WcfServicesApp.WcfServiceApplication.KenService" behaviorConfiguration="KenServiceBehavior">
                <clear />
                <!--Endpoint for SOAP-->
                <endpoint name="soap" address="soap" binding="basicHttpBinding" contract="WcfServicesApp.WcfServiceApplication.IKenService" />
                <!--Endpoint for RESTful-->
                <endpoint name="rest" address="rest" binding="webHttpBinding" contract="WcfServicesApp.WcfServiceApplication.IKenService" 
                          behaviorConfiguration="RESTServiceBehavior" />
                <!--Endpoint for mex-->
                <endpoint name="mex" address="mex" binding="mexHttpBinding" contract="WcfServicesApp.WcfServiceApplication.IKenService"/>
            </service>
        </services>
        
        <behaviors>
            <serviceBehaviors>
                <behavior name="KenServiceBehavior">
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <!--Behavior for REST-->
                <behavior name="RESTServiceBehavior">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https"/>
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

        <bindings>
            <basicHttpBinding>
                <clear/>
                <binding allowCookies="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
                </binding>
            </basicHttpBinding>
            <webHttpBinding>
                <binding  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
            </webHttpBinding>
        </bindings>
    
    </system.serviceModel>

</configuration>
