<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DMSSSA_ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dms-test.honda.com.vn/DMSSSA_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="DMSSSA_ServiceSoap"
                contract="HVNServiceReference.DMSSSA_ServiceSoap" name="DMSSSA_ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>