<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMainService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:13000/WcfServicesApp.WcfServiceLib/MainService"
                      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMainService"
                      contract="MainServiceClient.IMainService" name="NetTcpBinding_IMainService">
                <identity>
                    <userPrincipalName value="KEN\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>